
@font-face {
    font-family:"Brompton Slab Regular";
    src:url("BromptonSlab-Regular.woff2") format("woff2"),url("BromptonSlab-Regular.woff") format("woff"),url("BromptonSlab-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        